@use "sass:map";
@import "theme-simple/dark.scss";
@import "header.scss";
@import "item-simple.scss";
@import "item-detailed.scss";
@import "item-card.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;  /* Konqueror */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  font: 16px verdana;
  // color: map.get($theme, body, fc);
  // background: map.get($theme, body, bg);
  color: map.get($fc, body);
  background: map.get($bg, body);
  height: 100%;
  padding-top: 96px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 2rem 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.list {
  // color: map.get($list, fc);
  // background: map.get($list, bg);
  color: map.get($fc, list);
  background: map.get($bg, list);
  //flex: 512px 0 1;
  width: 640px;
  margin: 0 .75rem 2rem;

  &-title {
    font-size: 1.25rem;
    // color: map.get($list, title, fc);
    // background: map.get($list, title, bg);
    color: map.get($fc, "list-title");
    background: map.get($bg, "list-title");
    line-height: 3rem;
    padding: 0 .5rem;
  }

  &-nav {
    @extend .noselect;
    font-size: .875rem;
    // color: map.get($list, nav, fc);
    color: map.get($fc, "list-nav");
    line-height: 2.5rem;
    padding: 0 .5rem;

    &__menu {
      border-bottom: 2px solid #808080;
      span {
        border-bottom: 2px solid trasparent;
        display: inline-block;
        margin: 0 1rem -2px 0;
        cursor: pointer;

        &.selected {
          // color: map.get($list, nav, selected, fc);
          color: map.get($fc, "list-nav-selected");
          border-bottom: 2px solid $fc-primary;
        }

        /*
        &:hover {
          border-bottom: 2px solid $fc-primary;
        }
        */
      }
    }
  }

  &-body {
    padding: .5rem;
  }
}