/* Error: There is no module with the namespace "map".
 *    ,
 * 63 | $header: map.get($theme, header);
 *    |          ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   theme-classic\deep-dark.scss 63:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a    \2577 \a 63 \2502  $header: map.get($theme, header);\a    \2502           ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   theme-classic\\deep-dark.scss 63:10  root stylesheet';
}
