.list {
  color: map.get($list, fc);
  background: map.get($list, bg);
  //flex: 512px 0 1;
  width: 640px;
  margin: 0 .75rem 2rem;
  position: relative;

  &.is-loading::before {
    content: '';
    display: block;
    background: #00000040;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.is-loading::after {
    content: '';
    border-left: 3px solid $fc-primary;
    border-top: 3px solid $fc-primary;
    border-right: 3px solid $fc-primary;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: spin .75s linear infinite;
  }

  &-title {
    font-size: 1.25rem;
    color: map.get($list-title, fc);
    background: map.get($list-title, bg);
    line-height: 3rem;
    padding: 0 .5rem;
  }

  &-nav {
    padding: 0 .5rem;

    &__menu {
      @extend .noselect;
      font-size: .875rem;
      color: map.get($list-nav, fc);
      border-bottom: 2px solid $fc-middle;
      line-height: 2.5rem;

      span {
        border-bottom: 2px solid trasparent;
        display: inline-block;
        margin: 0 1rem -2px 0;
        cursor: pointer;

        &.selected {
          color: map.get($list-nav-selected, fc);
          border-bottom: 2px solid $fc-primary;
        }
      }
    }
  }

  &-body {
    min-height: 64px;
    padding: .5rem;
  }

  &-paging {
    padding: 0 .5rem;

    & > div {
      color: $fc-secondary;
      border-top: 1px solid $fc-middle;
      font-size: .75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.5rem;

      a {
        &.disabled {
          color: $fc-middle;
          cursor: default;
        }

        &:active:not(.disabled) {
          color: $fc-primary;
        }
      }
    }
  }
}
