.dropdown {
  //background: #088;
  width: 128px;
  padding: 0;

  &-title {
    display: flex;
    justify-content: flex-end;
    height: 32px;
    line-height: 32px;
    margin-bottom: 1px;
    cursor: pointer;
  }

  &-toggle-button {
    color: #000;
    background: $fc-secondary;
    text-align: center;
    width: 32px;
    padding: 0 .5rem;
  }

  &-item {
    background: map.get($list-item, bg);
    margin: 2px 0;
    padding: .5rem .5rem;
    cursor: pointer;

    &:hover {
      color: #000;
      background: $bg-accent;
    }
  }
}